<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form  action="/new/posts" method="POST">
        <input type="text" name="username" id="username" placeholder="Username"><br><br>
        <textarea name="content" id="content" placeholder="What's on your mind?"></textarea><br><br>
        <button id="submit">Submit</button>
    </form>
</body>

</html>